#content-wrapper {
    display: flex;
    flex-grow: 10;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.content-textarea {
    height: 100%;
    width: 100%;
}

#clip {
    width: 60%;
}

#upload-button {
    height: 80%;
    width: 30%;
}

#upload-form {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

#subscribe-button {
    position: absolute;
    top: 35px;
    right: 0;
}

#visibility-select {
    position: absolute;
    top: 105px;
    right: 0;
    width: 190px;
    margin: 0 5px;
}

#editor-form {
    position: absolute;
    top: 105px;
    right: 0;
    margin: 0 5px;
    z-index: 10000;
    background-color: #fdfaef;
}