
.form-wrapper {
    display: flex;
    justify-content: center;
    height: calc(85%);
    width: 100%;
}

.form-element {
    flex: 1;
    margin: 10px 0px;
}

.form-element:hover,
.form-element.active {
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-color: #362222;
}

.form-control {
    margin: 20px 0;
    width: 300px;
}
