body {
	background-color: #edebd9;
	padding-left: 5em;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: #3d5361;
}

h1 {
    color: #645447;

	font-size: 300%;
	/* padding: 5px; */
	font-family: zillaslab,palatino,"Palatino Linotype",serif;
    letter-spacing: .035rem;
	/* line-height: 1.2; */
	text-align: left;
}



article {
    padding: 1em;
    font-size: 1.2em;
    font-family: 'Frank Ruhl Libre', sans-serif;
}

h2 {
	color: #037272;
	padding-top: 10px;
	padding-bottom: 10px;
	padding: 10px;
}

.title-box{
	border: 1px solid rgb(173, 192, 176);
	margin: 0px 5px 5px 0px;
	background-color:  rgb(241, 241, 241);
}


.bordered-box {
	
	border: 1px solid rgb(173, 192, 176);
	margin: 10px 50px 10px 0px;
	background-color:  rgb(241, 241, 241);
}

.form-inner-wrapper {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.form-box {
    width: 20%;
    min-width: 240px;
    height: auto;

    border:green;
    border-style: solid;
    border-width: 1px;
}

.form-element {
    margin-bottom: 12px;
    height: 35px;
    font-size: 16px;
    border-style: solid;
}

.form-input {
    background-color: rgb(241, 241, 241);
    border-color:rgb(173, 192, 176);
    border-width: 2px;
}

.form-input:hover {
    border-color: green;
}

.form-button {
    background-color: rgb(173, 192, 176);
    color: rgb(79, 109, 79);
    border-color: gray;
    border-width: 1px;
}

.form-button:hover {
    background-color: green;
    color: white;
}

.error {
    color: red;
}

.success {
    color: green;
}

p {
	padding: 10px 30px;
	font-size: 130%;
	line-height: 35px;
}

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }