.tabs button.active {
    background-color: grey;
}

.tabs-table {
    background-color: #fdfaef;
    width: 60%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    text-align: center;
}

.profile-container {
    background-color: #fdfaef;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}